/* -------------- Presentation ------------ */

.presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

/* -------------- Slide ------------ */

.slide {
  display: none;
  position: absolute;
  overflow: auto;  
}

.slide.current {
  visibility: visible;
  display: block;
  margin-left: 0px;
}

/* -------------- Section ------------ */

section {
  margin: 5%;
  overflow: hidden;
}

section.centered {
  text-align: center;
}

/* -------------- Title and Subtitle ------------ */

div.slide > h1 { /* Title */
  margin: 1%; 
  text-align: left;
}

div.slide > h2 { /* Subtitle */
  margin: 1%; 
  text-align: left;
}

div.code_helper > h2 {  /* Helper Title */
  margin: 0%;
}

/* -------------- Form Slide ------------ */

input[type=text] {
  font-size: 1em;
}

input[type=button] {
  font-size: 1em;
}

input[type=button]:hover {
  background-color:#d0d0d0;
}

/* -------------- Poll Slide------------ */

.poll_question { 
  margin-top:1%;
}

.poll_response { 
  margin-left:3%;	
}

.poll_response_rate { 
  color:green;
  font-weight:bold;
}

input[type=radio].poll_response {
  display:none;
}

input[type=radio].poll_response + label {
  display:block;
}

input[type=radio].poll_response + label:hover {
  background-color: #e7e7e7;
}

input[type=radio].poll_response:checked + label { 
  background-color:#d0d0d0;
}

/* -------------- Star Rating ------------ */

span.rating-stars {
  margin-left: 1%;  
  margin-bottom: -4%;
  display: inline-block;
}

input.rating-radio {
  position: absolute;
  left: 0;
  top: -50px;
}

span.rating-stars:hover label.rating-star:hover,
span.rating-stars:hover label.rating-star:hover ~ .rating-star,
input.rating-radio:checked ~ label.rating-star {  
  color: gold;
}

label.rating-star,
span.rating-stars:hover label.rating-star {
  color:grey;		
  float: right;
  display: block;
}

/* -------------- Star Selection ------------ */

input.select-input {
  position: absolute;
  left: 0;
  top: -50px;
}

input.select-input:checked + label.select-star  {
  color: gold;
}

input.select-input:not(:checked) + label.select-star  {
  color: inherit;
}

/* -------------- Video slide ------------ */

video {
  margin-left: 5%; 
  background-color: none; 
  width: 90%; 
  height:80%
}

/* -------------- Code Slide ------------ */

.code {
  display:inline-block;	
  font-size:0.5em;
  width:60%; 
  height:60%;
}

.code_helper {
  display: none;	
  font-size:0.5em;
  width:39%; 
  height:60%;
  float: right;
  overflow: auto;
}

.code_helper.current {
  display:inline-block;
}

.code_to_display {
  display:none
}

.code_to_add {
  font-family: monospace;
  font-weight:bold;  
  white-space: pre;
}

.code_result {
  font-size:0.5em;
  width:100%; 
  height:25%;
  resize: none;
}

.code_author {
  background: black; 
  color: red; 
  font-weight: bold;
  font-size: 16px; 
  text-align: right; 
  width: 60%
}

input[type=button]#execute {
  font-size: 0.5em;
  margin: 1%;  
}

input[type=button]#send_code {
  font-size: 0.5em;
  margin: 1%;  
}

input[type=button]#get_code {
  font-size: 0.5em;
  margin: 1%;  
}

input[type=button]#get_last_send {
  font-size: 0.5em;
  margin: 0.2%;  
}

/* ------------------------------------------------------------------------ */
/* CAN BE MODIFIED FOR EACH PRESENTATION */
/* ------------------------------------------------------------------------ */

.presentation {
  background: #555;
}

.slide {
  left: 1%;
  top: 1%;
  width: 98%;
  height: 98%;
  background-color: #000;
  border-radius: 5px;
}

section {
  color: #ff00ff;
  font-size: 2em;
}

div.slide > h1 {  /* Title */
  font-size: 2em;
  color: #ff00ff;  
}

div.slide > h2 {  /* Subtitle */
  font-size: 2em;
  color: #ff00ff;
  background-color: #ffffaa;
}

div.code_helper > h2 {  /* Helper Title */
  margin: 0%;
  font-size: 1em;
  color: #ff00ff;
  background-color: #ffffaa;
}

span.rating-stars {
  font-size: 2em;
}